[submodule ".config/nvim/plugged/vim-commentary"]
	path = .config/nvim/plugged/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".config/nvim/plugged/vim-expand-region"]
	path = .config/nvim/plugged/vim-expand-region
	url = https://github.com/terryma/vim-expand-region.git
[submodule ".config/nvim/plugged/vim-surround"]
	path = .config/nvim/plugged/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".config/emacs/site-lisp/evil"]
	path = .config/emacs/site-lisp/evil
	url = https://github.com/emacs-evil/evil.git
