[Unit]
Description=Set keyboard repeat rate for TTY
DefaultDependencies=no
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/kbdrate -d 250 -r 30
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
